<%- include('../partials/header') %>

    <!-- <a href="./">All Flights</a> -->
    <h2>Enter New Flight</h2>
    <form action="/flights" method="POST">
        <label>Airline
            
            <select name="airport">
                <option value="--">--Select Airport--</option>
                <option value="AUS">AUS</option>
                <option value="DFW">DFW</option>
                <option value="DEN">DEN</option>
                <option value="LAX">LAX</option>
                <option value="SAN">SAN</option>
            </select>
            <select name="airline">
                <option value="--">--Select Airline--</option>
                <option value="American Airlines">American Airlines</option>
                <option value="Southwest Airlines">Southwest Airlines</option>
                <option value="United Airlines">United Airlines</option>
                <option value="JetBlue Airlines">Jet Blue Airlines</option>
            </select>
        </label><br>
        <label>Flight Number:
            <input type="number" name="flightNo" placeholder= "101" min="10" max="9999">
        </label><br>
        <label>Departing date:
            <input type="datetime-local" name="departs">
        </label><br>
        <input type="submit" value="Add Flight">
    </form>

<%- include('../partials/footer') %>