<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>New Flight</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h2>Enter New Flight</h2>
    <form action="/flights" method="POST">
        <label>Airline
            <select name="airline">
                <option value="American Airlines">American Airlines</option>
                <option value="Southwest Airlines">Southwest Airlines</option>
                <option value="United Airlines">United Airlines</option>
                <option value="JetBlue Airlines">Jet Blue Airlines</option>
            </select>
        </label><br>
        <label>Flight Number:
            <input type="number" name="flightNumber" placeholder= "101" min="100" max="999">
        </label><br>
        <label>Departing date:
            <input type="datetime-local" name="departingDate">
        </label><br>
        <label>International:
            <input type="checkbox" name="international" checked>
        </label><br>
        <input type="submit" value="Add Flight">
    </form>
</body>
</html>